html {
    margin-left: 20px ;
}

a {
    all:unset
}

nav {
    margin:20px 20px 20px 20px;
    font-size: 15px;
    font-family: monospace;
    
}

img {
    width:200px; height:200px ;
    border: 1px solid #000;
    border-radius: 60px;
    display: flex;
}

.profilepic {
    width:200px; height:266px;
    float:left;
    margin: 0px 20px;
}

/* flex */

.container {

}

.box {
    width: 100px;
    height: 100px;
}

#red {
    backgroud-color: #red;
}
#yellow {
    backgroud-color: #lightyellow;
}
#blue {
    backgroud-color: #lightblue;
}