body {
    margin-left: 10px ;
}

a {
    all:unset
}

nav {
    margin:20px 20px 20px 20px;
    font-size: 15px;
    font-family: monospace;
    display: inline-flex;
    position: sticky;
    top: 0;
    width: 100%;
    gap: 5px;
}

nav > a {
    border: 1px solid #333333;
    margin: 5px;
    padding: 9px;
    border-radius: 15px 5px 15px 5px;
    background-color: aqua;
}

img {
    width:200px; height:200px ;
    border-radius: 60px;
    display: flex;
    ;
}

.profilepic {
    width:200px; height:266px;
    float:left;
    margin: 0px 20px;
}